*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
   background-color: #4D455D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 360px;
    height: 450px;
    background-color: #F5E9CF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px ;
}
.heading h2{
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    color: #6b101d;
}

.box{
    display: block;
    padding: 1.5em;
    /* border: 1px solid; */
    text-align: center;

}
#input{
    font-family: sans-serif;
    font-size: 15px;
padding: .5em;
border-radius: 5px;
border: 1px solid #7DB9B6;
text-align: center;

}
button{
    width: 80px;
    padding: 8px;
    margin-left: 1em;
    background-color: #431280;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: none;
}
button:hover{
    transition: .1s .1s ease-in-out; 
    background-color:#a25c11 ;
}
#result{
    padding: 20px;
    border: 1px solid;
    margin: 15px;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    border-radius: 5px;
    height: 250px;
    border: 1px solid;
    overflow: hidden;
}
@media screen and (max-width:425px) {
    .container{
        width: 260px;
    }
    .heading h2{
        padding: 10px;
        margin-bottom: -10px;
    }
    #input{
        font-size: 15px;
        margin-bottom: 10px;
    }
    #result{
        font-size: 1em;
        text-align: center;
    }
}

